
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line" style="text-align:center;">我的店铺</h1>
        <h1 class="page-subhead-line" style="text-align:center;">店铺信息</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4" style="overflow:hidden;">
        <img src="~/Content/Shop/img/backgrounds/1.jpg" style="width:100%;height:370px;"/>
    </div>
    <div class="col-md-4">
        <p>点铺名</p>
        <p>店主</p>
        <p>客户</p>
        <p>等级</p>
        <p>点铺名</p>
    </div>
    <div class="col-md-2"></div>
</div>

