
@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">商品订单</h1>
        <h1 class="page-subhead-line">下面是订单界面，请尽快接收订单</h1>
    </div>
</div>
<div class="col-md-4">
    <h2>Order Page</h2>
</div>
<div class="col-md-4">
    <h2>Order Page</h2>
</div>
<div class="col-md-4">
    <h2>Order Page</h2>
</div>


