
@{
    ViewBag.Title = "UpDiscountGoods";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">促销商品</h1>
        <h1 class="page-subhead-line">请按顺序执行步骤，完成商品上传</h1>
    </div>
</div>

