
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>jQuery滑动展开收缩手风琴代码 - 站长素材</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Demo/woco.accordion.min.js"></script>
    <link href="~/Content/Demo/woco-accordion.min.css" rel="stylesheet" />
    <style>
        .accordion {
            max-width: 85px;
            margin: 5px auto;
        }
    </style>
</head>
<body>

    <div class="accordion">
        <h1>回复</h1>
        <div style="width:500px;border:hidden;">
            站长素材 1<br>站长素材 1<br>站长素材 1<br>站长素材 1<br>
        </div>
    </div>
    <script>
        $(".accordion").accordion();
    </script>
    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
        <p>适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗.</p>
        <p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
    </div>
</body>
</html>
