
@{
    ViewBag.Title = "goodsreview";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>商品视图</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="~/Content/PersonalCenter/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/PersonalCenter/css/light-bootstrap-dashboard.css" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/PersonalCenter/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    
    <link href="~/Content/PersonalCenter/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <style type="text/css">
        table.shop_table {
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            margin-bottom: 50px;
            width: 100%;
        }

        thead {
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
        }

        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        table.shop_table th, table.shop_table td {
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            padding: 15px;
            text-align: center;
        }

        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }

        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        td.actions div.coupon {
            float: left;
        }

        input[type="text"], input[type="password"], input[type="email"], textarea {
            border: 1px solid #ddd;
            padding: 10px;
        }

        input[type="submit"], button[type=submit] {
            background: none repeat scroll 0 0 #5a88ca;
            border: medium none;
            color: #fff;
            padding: 11px 20px;
            text-transform: uppercase;
        }

        input[type="submit"], button[type=submit] {
            background: none repeat scroll 0 0 #5a88ca;
            border: medium none;
            color: #fff;
            padding: 11px 20px;
            text-transform: uppercase;
        }

        input[type="submit"], button[type=submit] {
            background: none repeat scroll 0 0 #5a88ca;
            border: medium none;
            color: #fff;
            padding: 11px 20px;
            text-transform: uppercase;
        }
    </style>

</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="PersonalCenter/Index" class="simple-text">
                        个人中心
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="PersonalCenter/myorder">
                            <i class="pe-7s-graph"></i>
                            <p>我的订单</p>
                        </a>
                    </li>
                    <li>
                        <a href="PersonalCenter/basicinformation">
                            <i class="pe-7s-user"></i>
                            <p>基本信息</p>
                        </a>
                    </li>
                    <li>
                        <a href="PersonalCenter/privatenews">
                            <i class="pe-7s-note2"></i>
                            <p>私信</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="PersonalCenter/goodsreview">
                            <i class="pe-7s-news-paper"></i>
                            <p>商品评论</p>
                        </a>
                    </li>

                    <li>
                        <a href="PersonalCenter/myshop">
                            <i class="pe-7s-map-marker"></i>
                            <p>我的店铺</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">商品评论</a>
                    </div>
                    <div class="collapse navbar-collapse">

                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">

                <form method="post" action="#">
                    <table cellspacing="0" class="shop_table cart">
                        <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">商品</th>
                                <th class="product-price">价格</th>
                                <th class="product-quantity">评价</th>
                                <th class="product-subtotal">追加评价</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart_item">
                                <td class="product-remove">
                                    <a title="Remove this item" class="remove" href="#">1</a>
                                </td>

                                <td class="product-thumbnail">
                                    <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="assets/img/狗粮2.jpg"></a>
                                </td>

                                <td class="product-name">
                                    <a href="single-product.html">耐威克狗粮</a>
                                </td>

                                <td class="product-price">
                                    <span class="amount">146.00</span>
                                </td>

                                <td class="product-appraise">
                                    <div class="quantity buttons_added">
                                        <span class="amount"> 好评</span>

                                    </div>
                                </td>

                                <td class="product-advice">
                                    <span class="amount">  <form action=""><input type="text" placeholder="追加评价..."></span>
                                </td>
                            </tr>

                            <tr class="cart_item">
                                <td class="product-remove">
                                    <a title="Remove this item" class="remove" href="#">2</a>
                                </td>

                                <td class="product-thumbnail">
                                    <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="assets/img/狗粮2.jpg"></a>
                                </td>

                                <td class="product-name">
                                    <a href="single-product.html">耐威克狗粮</a>
                                </td>

                                <td class="product-price">
                                    <span class="amount">146.00</span>
                                </td>

                                <td class="product-appraise">
                                    <div class="quantity buttons_added">
                                        <span class="amount"> 好评</span>

                                    </div>
                                </td>

                                <td class="product-advice">
                                    <span class="amount">  <form action=""><input type="text" placeholder="追加评价..."></span>
                                </td>
                            </tr>
                            <tr class="cart_item">
                                <td class="product-remove">
                                    <a title="Remove this item" class="remove" href="#">3</a>
                                </td>

                                <td class="product-thumbnail">
                                    <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="assets/img/狗粮2.jpg"></a>
                                </td>

                                <td class="product-name">
                                    <a href="single-product.html">耐威克狗粮</a>
                                </td>

                                <td class="product-price">
                                    <span class="amount">146.00</span>
                                </td>

                                <td class="product-appraise">
                                    <div class="quantity buttons_added">
                                        <span class="amount">好评</span>

                                    </div>
                                </td>

                                <td class="product-advice">
                                    <span class="amount">  <form action=""><input type="text" placeholder="追加评价..."></span>
                                </td>
                            </tr>
                            <tr class="cart_item">
                                <td class="product-remove">
                                    <a title="Remove this item" class="remove" href="#">4</a>
                                </td>

                                <td class="product-thumbnail">
                                    <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="assets/img/狗粮2.jpg"></a>
                                </td>

                                <td class="product-name">
                                    <a href="single-product.html">耐威克狗粮</a>
                                </td>

                                <td class="product-price">
                                    <span class="amount">146.00</span>
                                </td>

                                <td class="product-appraise">
                                    <div class="quantity buttons_added">
                                        <span class="amount">好评</span>

                                    </div>
                                </td>

                                <td class="product-advice">
                                    <span class="amount">  <form action=""><input type="text" placeholder="追加评价..."></span>
                                </td>
                            </tr>
                            </tr>
                            <tr>
                                <td class="actions" colspan="6">
                                    <input type="submit" value="发表评论" name="proceed" class="checkout-button button alt wc-forward">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>


            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    首页
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    联系客服
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    联系我们
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    关于我们
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </footer>


        </div>
    </div>


</body>

<!--   Core JS Files   -->
<script src="~/Content/PersonalCenter/js/jquery-1.10.2.js"></script>
<script src="~/Content/PersonalCenter/js/bootstrap.min.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="~/Content/PersonalCenter/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="~/Content/PersonalCenter/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="~/Content/PersonalCenter/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/Content/PersonalCenter/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/Content/PersonalCenter/js/demo.js"></script>

</html>

