@model MyPets.Model.UserInfo
@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/_LayoutPersonalCenter.cshtml";
}
<br />
<div class="contact" style="margin-left:200px;">
    
     欢迎来到个人中心！
                

</div>