
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>宠物夏季饲养全攻略</title>
</head>
<body>
    <div style="text-align:center;">
        <img src="~/Content/Baike/img/宠物夏季饲养全攻略.png" />
    </div>
</body>
</html>
