@model MyPets.Model.BaikeActivity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="text-align:center;">
        <img src="@Url.Content(Model.ActicedDetail)" />
    </div>
</body>
</html>
