
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>爱猫无国界：各国猫文化大盘点.</title>
</head>
<body>
    <div style="text-align:center;">
        <img src="~/Content/Baike/img/爱猫无国界：各国猫文化大盘点.png" />
    </div>
</body>
</html>
