
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>干货分享——养犬新手必看知识合集</title>
</head>
<body>
    <div style="text-align:center;">
        <img src="~/Content/Baike/img/你说我像饼？偶可是热带鱼之王七彩神仙！.png" />
    </div>
</body>
</html>
