@model IEnumerable<MyPets.Model.Goods>
@{
    ViewBag.Title = "ShowGoods";
    Layout = "~/Views/Shared/_LayoutWaterFull.cshtml";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content(@item.GoodsImg1)" width="200" height="200">
        </div>
        <div class="col-md-8">
            <h3><a href="javascript:;">@Html.DisplayFor(g => item.GoodsName)</a></h3>
            <span><a href="javascript:;"style="color:#808080">所属系列：@Html.DisplayFor(g => item.SeriesName)</a></span>
            <span><a href="javascript:;"style="color:#808080">类别：@Html.DisplayFor(g => item.TypeName)</a></span>
            <span><a href="javascript:;"style="color:#808080">具体类别：@Html.DisplayFor(g => item.DetailName)</a></span>
        </div>
        <div class="col-md-2">
            <div class="btn btn-default" style="float:right;margin-right:20px;margin-top:20px;">
                <span>@Html.ActionLink("详细", "EditGoods", new { goodsid = item.GoodsId }) </span>
            </div>
        </div>
    </div> 
}














