@{ 
    Layout = null;
}
<a href="/Home/jiesuan">Cart - <span class="cart-amunt">$@ViewBag.count</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@ViewBag.sum</span></a>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

