@model IEnumerable<MyPets.Model.Goods>
@{
    ViewBag.Title = "SearchShopGoods";
    Layout = "~/Views/Shared/_LayouStore.cshtml";
}
<br /><br />
<div class="row" style="width:76%;margin:0 auto;">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="single-wid-product">
                <a href="@Url.Action("GoodsDetail",new {goodsid=item.GoodsId })"><img src="@Url.Content(item.GoodsImg1)" alt="" class="product-thumb"></a>
                <h2><a href="@Url.Action("GoodsDetail",new {goodsid=item.GoodsId })">@item.GoodsName</a></h2>
                <div class="product-wid-price">
                    @if (item.IsDiscount == true)
                    {
                        <ins>促销价：@item.DiscountPrice</ins> <del>原价：@item.GoodsPrice</del>
                    }
                    else
                    {
                        <ins>售价：@item.GoodsPrice</ins>
                    }
                </div>
            </div>
        </div>
    }
</div>

