@{
    Layout = null;
}
@model MyPets.Model.UserInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重置密码</title>
    <link href="~/Content/Register/css/css.css" rel="stylesheet" />
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .code {
            margin-left: 40px;
        }

            .code .login_verifcode {
                line-height: 40px;
                height: 40px;
                padding: 10px 11px;
                width: 122px;
                background-color: #fafafa;
                border: 1px solid #e0e0e0;
                border-radius: 3px;
            }

            .code img {
                border: solid 1px #e2e2e2;
                vertical-align: middle;
                height: 38px;
                width: 94px;
                display: inline-block;
            }

            .code span .refesh {
                background: url(../../Content/Register/img/refresh-1.png) center center no-repeat;
                display: inline-block;
                display: inline;
                zoom: 1;
                width: 24px;
                height: 24px;
                vertical-align: middle;
                cursor: pointer;
                text-indent: -200%;
                overflow: hidden;
            }
    </style>
    <script type="text/javascript">
        $(function () {
            // 为看不清楚绑定事件
            $("#see").click(function () {
                $("#vimg").attr("src", "/ValidateCode/GetYZM?" + Math.random());
            });

            // 为验证码绑定click与mouseover
            $("#vimg").mouseover(function () {
                $(this).css("cursor", "pointer");
            }).click(function () {
                $("#see").trigger("click");
            });
        });
        function reloadcode() {
            var verify = document.getElementById('validimg');
            verify.setAttribute('src', '/ValidateCode/GetYZM?' + Math.random());
        }
        $(function () {
            $("#btnSubmit").click(function () {
                var username = $("#UserName").val();
                var usercode = $("#txtverifcode").val();
                if (username == "") {
                    alert("请输入你的用户名");
                    //new TipBox({ type: 'tip', str: '请输入你的用户名', clickDomCancel: true, setTime: 10000500, hasBtn: true });
                }
                if (usercode == "") {
                    alert("请输入验证码");
                }
            })
        });
         

    </script>
</head>
<body>
    <div class="content">
        <div class="web-width">
            <div class="for-liucheng">
                <div class="liulist for-cur"></div>
                <div class="liulist"></div>
                <div class="liulist"></div>
                <div class="liulist"></div>
                <div class="liutextbox">
                    <div class="liutext for-cur"><em>1</em><br /><strong>填写账户名</strong></div>
                    <div class="liutext"><em>2</em><br /><strong>验证身份</strong></div>
                    <div class="liutext"><em>3</em><br /><strong>设置新密码</strong></div>
                    <div class="liutext"><em>4</em><br /><strong>完成</strong></div>
                </div>
            </div>
            <br /><br /><br />
            @using (Html.BeginForm())
            {
                <div style="text-align:center">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="UserName">用户名</label>&nbsp;:&nbsp;
                            @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control", @placeholder = "请输入用户名" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <p class="row code">
                            <input id="txtverifcode" name="txtverifcode" class="login_verifcode" placeholder="验证码" type="text" />
                            <span class="verifcode"><img id="validimg" src="@Url.Action("GetYZM", "ValidateCode")" /><a class="refesh" onclick="reloadcode()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                        </p>
                    </div>
                    <br />
                    <input type="submit" value="提交" class="btn btn-danger" id="btnSubmit" />
                </div>
            }
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
