@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重置密码</title>
    <link href="~/Content/Register/css/css.css" rel="stylesheet" />
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="web-width">
            <div class="for-liucheng">
                <div class="liulist for-cur"></div>
                <div class="liulist for-cur"></div>
                <div class="liulist for-cur"></div>
                <div class="liulist"></div>
                <div class="liutextbox">
                    <div class="liutext for-cur"><em>1</em><br /><strong>填写账户名</strong></div>
                    <div class="liutext for-cur"><em>2</em><br /><strong>验证身份</strong></div>
                    <div class="liutext for-cur"><em>3</em><br /><strong>设置新密码</strong></div>
                    <div class="liutext"><em>4</em><br /><strong>完成</strong></div>
                </div>
            </div><!--for-liucheng/-->
            <form action="RebackPwdStep3" method="post" class="forget-pwd">
                <dl>
                    <dt>新密码：</dt>
                    <dd>
                        <input type="password" palceholder="请输入新密码" name="pwd"  class="form-control"/>
                    </dd>
                </dl>
               <br /><br />
                <dl>
                    <dt>确认密码：</dt>
                    <dd><input type="password" palceholder="请确认新密码" name="confirmpwd" class="form-control" />
                    </dd>
                </dl>
                <br />
                <div class="subtijiao"><input type="submit" value="提交" /></div>
              
            </form>
        </div>
    </div>
</body>
</html>
