/*全局reset*/

* {
	padding: 0;
	margin: 0;
    font-family:微软雅黑;
}


/*-------------------首页顶部-------------------*/

#index_top {
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #DDDDDD;
	font-size: 13px;
}
#index_top a{
	color: RGB(51,51,51);
	text-decoration: none;
}
#index_top a:hover {
	color: RGB(238, 85, 51);
}

#index_top .content {
	width: 1190px;
	height: 36px;
	margin: 0 auto;
	position: relative;	
}

#index_top .content div {
	float: left;
}

#index_top .favorite {
	width: 124px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: RGB(102, 102, 102);
	cursor: pointer;
}

#index_top .favorite:hover {
	color: RGB(238, 85, 51);

}
#index_top .index_topRight{
	position: absolute;
    display: block;
    height: 16px;
    line-height: 16px;
	right: 0;
	top: 10px;
	
}
#index_top .index_topRight li{
	list-style: none;
    padding:0 10px ;
    border-right: solid 1px RGB(204,204,204);
	float: left;
}


/*-----------------首页顶部结束--------------------*/


/*-------------------搜索框部分-----------------------*/

#search {
	width: 1190px;
	height: 130px;
	margin: 0 auto;
	position: relative;
}
#search .searchType{
    position:absolute;
    top:13px;
    left:300px;
    height:36px;
    width:100px;
    background:RGB(255,255,255);
}
#search .searchType li{
    list-style:none;
    float:left;
    text-align:center;
    width:50px;
    line-height:36px;
    color:RGB(238,85,51);
    cursor:pointer;
}
#search .searchType li:hover{
    background:RGB(255,238,229);
}

#search img {
	margin: 15px 0;
}
#search .search_mid{
	position: absolute;
	top: 43px;
	left: 300px;
}
#search .search_mid input{
	float: left;
}
#searchTxtBox{
	width: 516px;
	height: 38px;
	text-indent: 10px;
	font-size: 16px;
	color: RGB(51,51,51);
	border: solid 3px RGB(238,85,51);
}
#searchBtn{
	width: 80px;
	height: 44px;
	border: none;
	background: RGB(238,85,51);
	font-size: 18px;
	color: white;
	cursor: pointer;
}
/*-------------------搜索框部分结束--------------------*/




/*----------------------导航栏--------------------*/

#navigation_bar {
	width: 100%;
	height: 36px;
	background: RGB(238, 85, 51);
}


/*设置导航栏css属性*/

#navigation_bar .vital_part {
	width: 1190px;
	height: 36px;
	background: RGB(238, 85, 51);
	margin: 0 auto;
	color: white;
	position: relative;
}

#navigation_bar .vital_part a {
	height: 36px;
	color: white;
	line-height: 36px;
	margin: 0 auto;
	padding: 0 17px;
	text-align: center;
	text-decoration: none;
	display: block;
	float: left;
}

#navigation_bar .vital_part .all_type {
	width: 190px;
	height: 36px;
	text-align: left;
	text-indent: 10px;
	background: RGB(204, 34, 0);
	overflow: hidden;
	padding: 0;
}

#navigation_bar .vital_part .navigation {
	height: 36px;
}

#navigation_bar .vital_part .navigation a:hover {
	background: RGB(154, 0, 0);
}/*添加移入css属性*/




#navigation_bar .vital_part .index {
	background: RGB(154, 0, 0);
}

#navigation_bar .shopping_cart {
	position: absolute;
	right: 0;
	/*设置购物车在右侧*/
	width: 110px;
	background: RGB(204, 34, 0);
}/*导航栏的购物车css属性*/





/*--------------------导航栏结束------------------------*/


/*---------------------首页中部------------------*/

#index_middlePart {
	width: 100%;
	height: 450px;
	background: RGB(243, 243, 243);
}

#index_middlePart .midContent {
	width: 1190px;
	height: 450px;
	margin: 0 auto;
	position: relative;
}

#index_middlePart .midContent div {
	float: left;
}

.typeMenu {
	width: 188px;
	height: 448px;
	background: RGB(255, 255, 255);
	border: solid 1px RGB(204,34,0);
	border-top: none;
	
}
.typeMenu a{
	color: RGB(102,102,102);
	text-decoration: none;
}
.typeMenu a:hover{
	color: RGB(238,85,51);
}
a.mainType{
    color:RGB(51,51,51);
    font-size: 16px;
    margin-left: 5px;
}
div.typeImgContainer{
	width: 30px;
	height:28px;
	margin-left: 10px;
    background-image:url(../img/icons/icon.png);
    background-position:0px 0px;
}
.typeMenu>div{
	width: 188px;
}
.typeMenu>div:hover{
	border: solid 2px RGB(205,44,11);
	border-left: solid 1px RGB(205,44,11);
}
.typeMenu .dogPart{
	height: 111px;
	border-bottom: solid 1px RGB(204,204,204);
	
}
.typeMenu .catPart{
	height: 111px;
	border-bottom: solid 1px RGB(204,204,204);
	
}
.typeMenu .smallPetsPart{
	height: 68px;
	border-bottom: solid 1px RGB(204,204,204);
	
}
.typeMenu .aquaticPetsPart{
	height: 90px;
	border-bottom: solid 1px RGB(204,204,204);
	
}
.typeMenu .reptilePart{
	height: 62px;
	
}
.menu_list{
	width: 188px;
	margin-top:10px ;
}
.listDetails{
    width: 178px;
    margin-left: 10px;
}
.listDetails span{
	float: left;
	width: 55px;
	padding-top:2px;
}
.listDetails span>a{
	font-size: 14px;
}
.typeMenu .details{
	width: 654px;
	height: 446px;
	position: absolute;
	top: 0;
	left: 189px;
	background: RGB(252,252,250);
	z-index: 12;
	display: none;
}
.typeMenu .details .detailsLine{
	float: left;
	width: 610px;
	margin:0 22px;
	height: 34px;
	border-bottom: dashed 1px RGB(204,204,204);
}
.typeMenu .details .detailsLine .dlTitle{
	width: 120px;
}
.typeMenu .details .detailsLine .dlTitle>a{
	border: none;
	font-weight: 700;
	color: RGB(238,85,51);
}
.typeMenu>div>a{
	float: left;
	font-size: 14px;
	padding:1px 12px;
}
.typeMenu .details a{
	float: left;
	font-size: 14px;
	margin-top: 8px;
	padding:0 5px;
	border-left: solid 1px RGB(210,204,216);
}



/*轮播图*/
#carousel {
	width: 800px;
	height: 360px;
	overflow: hidden;
	position: relative;
    cursor:pointer;
}

#carousel .pic {
	width: 4800px;
	height: 360px;
	position: absolute;
	top: 0;
	left: 0;
}

#carousel .pic img {
	float: left;
}

#carousel ul {
	position: absolute;
	bottom: 15px;
	right: 18px;
}

#carousel ul li {
	list-style: none;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	text-align: center;
	line-height: 24px;
	color: RGB(51, 51, 51);
	font-family: "arial";
	font-size: 14px;
	background: RGB(243, 243, 243);
	float: left;
	margin-left: 5px;
}

#carousel ul li:hover {
	cursor: pointer;
}


/*轮播图右侧广告*/

#index_middlePart .midContent .ad_rOcarousel {
	width: 200px;
	height: 450px;
    position:absolute;
    top:0;
    left:990px;
}
#ad_rO1{
	/*background:RGB(255,244,250);
	border-bottom: 2px solid red;*/
    width:200px;
    height:200px;
}
#ad_rO2{
	background:/*RGB(255,244,250)*/RGB(255,255,255) ;
    width:200px;
    height:250px;
}
#ad_rO2Content{
    width:180px;
    height:250px;
    margin-left:10px;
    font-size:14px;
}
#ad_rO2Content>img{
    width:100px;
    height:100px;
    margin-top:10px;
    margin-left:30px;
}
#ad_rO2Content .codeDiscribe{
    text-indent:1em;
    width:140px;
    margin-left:15px;
}

#subscribe{
    float:left;
}
#subscribe>span{
    font-weight:700;
    font-size:16px;
    display:block;
    margin:18px 0px 5px;
}
#subscribe>input{
    float:left;
}
#subscribeEmailAddress{
    width:122px;
    height:22px;
    border:1px solid RGB(204,204,204);
    border-right:none;
}
#subscribeConfirm{
    width:52px;
    height:24px;
    border:none;
    background:RGB(240,85,51);
    color:RGB(255,255,255);
}
.font-red{
    color:RGB(240,85,51);
}



/*轮播图下侧广告*/

#index_middlePart .midContent .ad_bOcarousel {
	width: 800px;
	height: 90px;
}

#ad_bO1{
	background: RGB(247,247,247);
	border-right: 1px solid RGB(243,243,243);
}
#ad_bO2{
	background: RGB(247,247,247);
	border-right: 1px solid RGB(243,243,243);
}
#ad_bO3{
	background: RGB(247,247,247);
}

#index_middlePart .midContent .ad_bOcarousel div {
	width: 266px;
	height: 90px;
	cursor: pointer;
}


/*------------------首页中部结束--------------------*/

/*------------------商品展示部分--------------------*/
#goodsPart{
	margin: 0 auto;
	width: 1190px;
    height:3800px;
	/*position: relative;*/
}
.boxTitle{
	color: RGB(238,85,51);
	font-size: 20px;
}
#goodsPart .boxOne{
	margin-top:48px;
	width: 1190px;
	position: relative;
}
#goodsPart .hotGoods{
	height: 212px;
	width: 1190px;
    margin-top: 10px;
	border: solid 1px RGB(230,230,230);
}
#goodsPart .famousShop{
    width:1190px;
    height:270px;
    margin-top: 10px;
}
#goodsPart .famousShop div{
    margin-left:10px;
    width:190px;
}
#goodsPart .famousShop img{
    float:left;
}
img.bottomShop{
    margin-top:10px;
}
#goodsPart div{
	float: left;
}
/*商品展示模式*/
.GoodsModel{
	width: 184px;
	height: 198px;
	float: left;
	margin: 6px;
    position:relative;	
}
.GoodsModel img{
	width: 120px;
	height: 120px;
	margin: 24px auto;
	margin-bottom: 0;
	display: block;
    position:relative;
    cursor:pointer;
}
.GoodsModel .aContainer{
	height: 20px;
	width: 168px;
	overflow: hidden;
	margin-bottom: 10px;
    line-height:20px;
}
.GoodsModel .goodsPrice{
    margin-left:10px;
	width: 70px;
	font-size: 14px;
	color: RGB(241,85,51);
}
.GoodsModel .sales{
	width: 100px;
	font-size: 13px;
	color: RGB(102,102,102);
}
/*商品展示模式结束*/
#goodsPart a{
	text-decoration: none;
	font-size: 14px;
	color: RGB(102,102,102);
}
#goodsPart a:hover{
	color: RGB(240,85,84);
}

.ChoicePart {
	width: 1000px;
	position: absolute;
	top: 0;
	left: 190px;
}
.ChoicePart li{
	list-style: none;
	text-align: center;
	font-size: 16px;
	color: RGB(51,51,51);
	height: 30px;
	line-height: 30px;
	float: left;
    padding: 0 16px;
    cursor:pointer;
}

li.beChoiced{
    color:RGB(255,255,255);
    background:RGB(238,85,51) ;
    text-decoration: underline;
}
.ChoicePart .choiceBlock{
	position:absolute ;
	width: 999px;
	height: 479px;
	top: 32px;
	left: 0;
	/*background:#FFCC00;*/
	color: RGB(102,102,102);
	border-bottom: 1px solid RGB(230,230,230);
	border-right: 1px solid RGB(230,230,230);
	display: none;
    cursor:default;
}
.choiceDetail{
	width: 1190px;
	height:482px;
	margin: 0 auto;
	margin-top: 4px;
	border-top: solid 2px RGB(238,85,51);
}


/*------------------商品展示部分结束--------------------*/

/*------------------首页底部结束--------------------*/
#footer{
    width:100%;
    height:270px;
}
#footer .footer_up{
    width:100%;
    height:120px;
    background:RGB(238,85,51);
}
#footer .footer_up>img{
    display:block;
    width:908px;
    margin:0 auto;
}
#footer .footer_down{
    width:100%;
    height:150px;
    background:RGB(243,243,243);
}
#footer .footer_down>img{
    display:block;
    width:970px;
    margin:0 auto;
}





/*------------------首页底部结束--------------------*/