*{
    margin:0px;
    padding:0px;
}
body { 
}
/*上边*/
.typeImgContainer {
    width: 30px;
	height:28px;
    background-image:url(../img/icons/icon.png);
    background-position:0px 0px;
    float:left;

}
.top{
    height:310px;
   border-bottom:1px solid #808080;
   
}
.leibie{
    width:160px;
    float:left;margin-top:10px;
}
 .lei{
     float:left;
     width:80px;
     text-align:right;
     
}
 .lei div{
     height:34px;
     line-height:34px;
     text-align:center;
     color:#808080;
     font-size:12px;
 }
.one {
    float: left;    
}
.ones{
      margin-left:80px;
  }  
.one a{
    height:34px;
    line-height:34px;
     display:block;
      float:left;
 font-size: 12px;
text-align: center;
text-decoration: none;
color:#0088dd;
padding:0px 20px;
}
.one a:hover{
    background-color:orangered;
    color:white;  

}

/*上边结束*/

/*下边*/
.rihgt{
    width:850px;
    overflow:hidden;
   margin:0 auto;

}
.product{ font-size:12px;width:200px;border:2px solid #ffffff;
}
.product:hover{border:2px solid red;display:block;}
.tupian {width: 150px;height: 170px;padding-left:24px;}
.tupian a{border-style: none; border-color: inherit; border-width: 0; vertical-align: middle;}
.jiage{ height: 40px;line-height:40px;}
.name{height: 50px; width: 200px;}
.name a{text-decoration:none;color:black}
.name a:hover{color:#dd8888;text-decoration:none;cursor:pointer;}
.yishou{float:left; color:#b299a5;}
.pingjia{float:right;}
.pingjia a{color:#dd8888;text-decoration:none;}
.gouwu{padding-top:10px;padding-bottom:2px;padding-left:2px}
.goumai{ Height:25px;Width:108px;background-color:#f3f3f3;border-width:0px;}
.goumai:hover{background-color:red;color:white;cursor:pointer;}
.product{
    float:left;
    margin:5px 10px;
}
/*右边结束*/