
@model MyPets.Model.Goods

@{
    ViewBag.Title = "Buynow";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section Buynow{
   
    <link href="~/Content/Home/css/style.css" rel="stylesheet" />
    <script src="~/Content/Home/css/demo.js"></script>
    <script src="~/Content/Home/js/js.js"></script>

}
@using (Html.BeginForm("Buy", "Home", FormMethod.Post))
{
<div style="position:absolute;left:250px;margin-top:50px;">
<div style="border:solid 1px ;height:160px;">
    <div style="line-height:150px;float:left;width:350px;margin-left:20px;">
        <div style="line-height:50px;height:50px;">
            商品名
        </div>
        <div>
        @Html.DisplayFor(a => Model.GoodsName)
        </div>
    </div>
    <div style="line-height:150px;float:left;width:150px;">
        <div style="line-height:50px;height:50px;">
            数量
        </div>
        <div class="count">
            <span class="reduce">-</span>
            <input class="input" type="text" value="1" name="goodssum" style="width:35px;text-align:center;" />
            <span class="add">+</span>
        </div>
    </div>
    <div style="line-height:150px;float:left;width:150px;">
        <div style="line-height:50px;height:50px;">
            价格
        </div>
        <div>
           @Html.DisplayFor(a => Model.GoodsPrice)
        </div>
    </div>
    <div style="line-height:150px;float:left;width:150px;">
        <div style="line-height:50px;height:50px;">
            总价
        </div>
        <div>
            <input type="hidden" id="TotalPrice" name="TotalPrice" value="" />
        </div>
    </div>
   </div>
    <div>
    <div style="border-color:red ;width:500px;border:solid 2px red ;margin-top:10px;float:left">
        <div style="height:50px;line-height:50px;margin-left:10px">
            实付款：￥<input type="hidden" id="TotalPrice" name="TotalPrice" value="" />
        </div>
        <div style="height:50px;line-height:50px;margin-left:10px">
            <input style="width:800px;height:160px;" id="Text1" type="text" name="address" placeholder="请填写地址！" />
        </div>
        <div style="height:50px;line-height:50px;margin-left:10px">
            收货人：@Session["UserName"]
            电话：@ViewData["Tel"]
        </div>
       
    </div>
        <div style="margin-left:550px;margin-top:50px;position:absolute;">
            <div class="fr closing">
                <a href="@Url.Action("zhifu",new {id=Model.OrderDetail})">
                    <input type="submit" value="结 算" class="btn btn-danger" id="subbtn" />
                </a>
</div>
           </div>

    </div>
</div>
}