
@{
    ViewBag.Title = "jiesuan";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Home/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Home/js/js.js"></script>
    
</head>
<body>
    <div>
        <div class="box">
            <div class="deng">
                您还没有登录! <a>登录</a> 后您的商品将永久保存在"购物车"中
            </div>
            <div class="yun">
                <div class="yunfei">宠物之家自营商品（全国免运费！）</div>
                <div class="right">
                    <a>继续购物></a>
                </div>
            </div>
            <div class="content_box">
                <div class="imfor_top">
                    <div class="check_top">
                        <input type="checkbox" id="all" />全选
                    </div>
                    <div class="pudc_top">商品</div>
                    <div class="pices_top">单价</div>
                    <div class="num_top">数量</div>
                    <div class="totle_top">小计</div>
                    <div class="del_top">操作</div>
                </div>
                <div class="imfor">
                    <div class="check">
                        <input type="checkbox" class="Each" />
                    </div>
                    <div class="pudc">
                        <div class="tupian">
                            <a href="">
                                <img src="~/Content/gouwuche/js/1.jpg" style=" width:50px;height:50px;" />
                            </a>

                        </div>
                    </div>
                    <div class="name">
                        <a href="" class="na">m名字名字名字名字名字名字名字名字字名字</a>
                    </div>

                    <div class="pices">599</div>
                    <div class="num">
                        <input class="reduc" type="button" value="-" />
                        <input class="multil" type="text" value="1" />
                        <input class="add" type="button" value="+" />
                    </div>
                    <div class="totle">599</div>
                    <div class="del">
                       <p class="na">删除</p> 
                    </div>
                </div>



                <div class="imfor">
                    <div class="check">
                        <input type="checkbox" class="Each" />
                    </div>
                    <div class="pudc">
                        <div class="tupian">
                            <a href="">
                                <img src="~/Content/gouwuche/js/1.jpg" style=" width:50px;height:50px;" />
                            </a>

                        </div>
                    </div>
                    <div class="name">
                        <a href="" class="na">m名字名字名字名字名字名字名字名字字名字</a>
                    </div>

                    <div class="pices">599</div>
                    <div class="num">
                        <input class="reduc" type="button" value="-" />
                        <input type="text" value="1" class="multil" />
                        <input class="add" type="button" value="+" />
                    </div>
                    <div class="totle">599</div>
                    <div class="del">
                        <p class="na">删除</p> 
                    </div>
                </div>

            </div>
            <div class="foot">

                @*<div class="foot_d">清空购物车</div>*@
                <div class="foot_del">删除选中商品</div>

                <div class="foot_cash">
                    <input type="button" value="去结算" class="jiesuan" />
                </div>
                <div class="foot_tol">
                    <span>合计：￥</span><span id="susum">0</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
